body{
    /*latte*/
    color:#c7a17a;

    /*white*/
    color:#fff;

    coffee:
    color:#96746b;

    dark coffee:
    color:#312a26;

    gray:
    color: #f2f2f2;

    black:
    color:#19100F;

    /* dark blue */
color: #353954;

/* white */
color:#fff;

/* blue-white */
color: azure;

/* yellow */
color:#fdb50e;

/* pink */
color: #ef3062 ;

/* blue */
color: #3377dc;

/* dark gray */
color:#373942;
}